{:paths ["src/core"]
 :deps
 {
  user.clojure.lang/user.clojure.lang {:mvn/version "2020.164.33190"}
  user.java.lang/user.java.lang       {:mvn/version "2020.164.33984"}
  }
 :aliases
 {
  :repl
  {:extra-paths ["src/test"]
   :main-opts   ["-i" "@/repl.clj"]}


  :provided
  {:extra-deps
   {
    integrant/integrant       {:mvn/version "0.8.0"}
    org.clojure/clojurescript {:mvn/version "1.10.914"}
    org.clojure/core.async    {:mvn/version "1.5.648"}
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    org.clojure/tools.cli                       {:mvn/version "1.0.206"}
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.821"}
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "1a37f7e9185e524686b58b14ddfe552fefee282e"}
    }}


  :test-runner
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]
   :exec-fn    cognitect.test-runner.api/test
   :exec-args  {:dirs ["src/test"]}}


  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts  ["-m" "cljs-test-runner.main" "-d" "src/test"]}


  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.7" :git/sha "1474ad6"}
                user.java.time/user.java.time {:mvn/version "2020.267.10158"}}
   :ns-default build.package}


  :maven-tool
  {:extra-deps {io.github.ajchemist/user.apache.maven.alpha {:git/sha "4f70a7a6ed4ab0620c7a0a3a4caf95d33ef916c6"}}
   :ns-default user.apache.maven.api}


  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint" {:source-paths ["src/core"] :test-paths ["src/test"]}]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.2-rc3"}
    }}}}
